<h1>Select a day</h1>

<%= form_tag(reports_path, method: :get, class:"form-group") do %>
  <%= date_field_tag :report_date, params[:report_date], placeholder: "Report date", class: "form-control" %>
  <%= submit_tag "Search" %>
<% end %>

<ul>

<% if @counts %>
  <% @counts.each do |occurence| %>
    <li>id: <%= occurence[0] %>, usage: <%= occurence[1] %></li>
  <% end %>
<% else %>
  <%= @occurences.each do |occurence| %>
    <li><%= occurence.id %></li>
  <% end %>
<% end %>
</ul>
